@font-face {
    font-family: Cinematografica;
    src: url(fonts/Cinematografica-Heavy-trial.ttf);
 }

:root {
    --color: #ffa303d7;
    --laranja: #ffa200;
    --color-background: #000;
    --color-primary: rgb(255, 255, 255);
    --color-secondary: #FFD700;
    --color-text: #fff;
    --color-btn-text: #000;
    --color-btn-bg-hover: #e0c200;
    --color-btn-bg: #FFD700;
    --color-input-border: #ccc;
    --color-btn-contact: #00f;
    --color-btn-contact-hover: #0000cc;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
}

header {
    background-color: var(--color-background);
    padding: 20px 0;
    border-bottom: 2px solid var(--color-secondary);
}
.logo{
    text-decoration: none;
}


header .container {
    font-family: Cinematografica;
    font-size: 25px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav{
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

header h1 {
    color: var(--color-primary);
    margin: 0;
}
header spam{
    color: var(--laranja);
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: var(--color-text);
    text-decoration: none;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: var(--laranja);
}


.hero {
    position: relative;
    color: var(--color-text);
    text-align: center;
    padding: 20px 20px 20px;
    overflow: hidden;
}


.hero .owl-carousel .item {
    position: relative;
}

.hero .owl-carousel .item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}


.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}











/* .hero {
    background: url('img/Planeta-Terra.jpg') no-repeat center center/cover;
    color: var(--color-text);
    text-align: center;
    padding: 150px 20px;
    position: relative;
} */



.hero .container {
    z-index: 1;
    color: var(--color-text);
}

.hero h2 {
    font-size: 3em;
    margin: 0 0 20px;
}

.hero p {
    font-size: 1.2em;
    margin: 0 0 30px;
}

.hero .btn {
    background-color: var(--color-btn-bg);
    color: var(--color-btn-text);
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.hero .btn:hover {
    background-color: var(--color-btn-bg-hover);
}

section {
    padding: 75px 20px;
}

section .container {
    max-width: 1200px;
    margin: 0 auto;
}
.box{
    width: 100%;
    height: 100%;
    border: 5px solid var(--color-secondary);
    padding: 25px;
    box-sizing: border-box;
}
.about, .services, .contact {
    text-align: center;
}

.about h2, .services h2, .contact h2 {
    color: var(--color-secondary);
    margin-bottom: 20px;
}

.about p, .services .service p, .contact form {
    text-align: center;
    margin-bottom: 20px;
}

.about img, .services .service img {
    max-width: 100%;
    border-radius: 10px;
}

.services .service {
    display: inline-block;
    width: calc(33.333% - 40px);
    margin: 0 20px 40px;
    vertical-align: top;
}

.services .service h3 {
    color: var(--color-primary);
    margin-top: 20px;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.contact form label {
    margin: 10px 0 5px;
}

.contact form input, .contact form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--color-input-border);
    border-radius: 5px;
}

.contact form .btn {
    background-color: var(--color-btn-contact);
    color: var(--color-text);
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact form .btn:hover {
    background-color: var(--color-btn-contact-hover);
}

footer {
    background-color: var(--color-background);
    color: var(--color-text);
    text-align: center;
    padding: 20px 0;
    border-top: 2px solid var(--color-secondary);
}

footer p {
    margin: 0;
}

button {
    position: relative;
    padding: 12px 35px;
    background: var(--color);
    font-size: 17px;
    font-weight: 500;
    font-family: bold;
    color: var(--color-btn-text);
    border: 3px solid var(--color);
    border-radius: 8px;
    box-shadow: 0 0 0 #fec1958c;
    transition: all .3s ease-in-out;
    cursor: pointer;
  }

  .star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }

  .star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }

  .star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }

  .star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);
  }

  .star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
  }

  .star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .8s ease;
  }

  button:hover {
    background: black;
    color: var(--color);
    box-shadow: 0 0 25px #fec1958c;
  }

  button:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }

  button:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }

  button:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }

  button:hover .stars {
    display: block;
    filter: drop-shadow(0 0 10px #fffdef);
  }

  button:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }

  button:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }

  button:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  .fil0 {
    fill: var(--color-text);
  }

  @media (max-width: 834px) {
    .services .service {
        width: calc(50% - 40px);
        margin: 0 20px 40px;
    }
    .hero{
        padding: 5px 5px 5px;
    }

    .hero .owl-carousel .item img {
        height: 50vh;
       
    }

    .hero h2 {
        font-size: 2.5em;
    }

    .hero p {
        font-size: 1.1em;
    }
}

@media (max-width: 480px) {
    .services .service {
        width: calc(100% - 40px);
        margin: 0 20px 40px;
    }
    .hero{
        padding: 5px 5px 5px;
    }

    .hero .owl-carousel .item img {
        height: 30vh;
       
    }

    .hero h2 {
        font-size: 2em;
    }

    .hero p {
        font-size: 1em;
    }

    .hero .btn {
        padding: 10px 20px;
        font-size: 1em;
    }
}